/**
 * Posts and Pages Styling
 * @file content/_posts-and-pages.scss
 */
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5rem;
	border-bottom: 1px solid $color__border-post-bottom;
	padding-bottom: 1rem;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.entry-meta {
    .posted-on, .byline {
	    margin-right: 20px;
	    a {
	        color: $color__link;
	        text-decoration: none;
	    }
	    a:hover {
	        color: $color__link-hover;
	        text-decoration: underline;
	    }
	    .fa {
	        color: $color__link;
	    }

	}
}
